.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 970px;
    background-color: var(--gris-oscuro);
}

.mainDiv {
    width: 90%;
    height: 90%;
    background: var(--gris-claro);
    position: absolute;
    border: 2px none var(--gris-claro);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px var(--gris-oscuro);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Helvetica, Impact, Copperplate, sans-serif;
}

.contentHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.mainTitle {
    font-size: 48px;
    color: var(--gris-oscuro);
    margin-left: 10%;
}

.dividerTop {
    width: 95%;
    height: 1px;
    background: linear-gradient(
            to right,
            var(--rojo) 0%,
            var(--naranja) 50%,
            var(--amarillo) 100%
    );
}

.contentMain {
    width: 100%;
    height: 700px;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contentImgText {
    width: 25%;
    display: flex;
    height: 70%;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--amarillo);
    margin-left: 5%;
    border: 2px none var(--gris-oscuro);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px var(--gris-oscuro);
}

.logo {
    height: 80%;
    align-self: center;
}

.text {
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    white-space: initial;
    padding: 0 15% 0 10%;
    color: var(--gris-oscuro);
    font-family: "Helvetica";
    font-weight: normal;
    font-size: 20px;
    margin-left: 5%;


    /*background: linear-gradient(*/
    /*        to right,*/
    /*        var(--rojo) 0%,*/
    /*        var(--naranja) 50%,*/
    /*        var(--amarillo) 100%*/
    /*);*/

    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/

}

.flapping{
   color: #F96105;
    font-weight: bold;
}

.divInputs {
    width: 40%;
    height: 70%;
    color: var(--naranja);
    border: 2px none var(--gris-oscuro);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px var(--gris-oscuro);
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-left: 10%;
    background-color: white;
}

.authHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 16px;
}

.authTitle {
    align-self: center;
    color: var(--gris-oscuro);
}

.dividerAuth {
    width: 95%;
    height: 1px;
    background: linear-gradient(
            to right,
            var(--rojo) 0%,
            var(--naranja) 50%,
            var(--amarillo) 100%
    );
}

.divInput {
    width: 75%;
    height: 15%;
}


.input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-color: var(--naranja);
    background-color: white;
    color: var(--gris-oscuro);

}

.input:focus {
    border: var(--naranja);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
    background-color: white;
    color: var(--gris-oscuro);
}

.divButtons {
    width: 100%;
    padding-right: 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button {
    border-color: var(--naranja);
    color: var(--naranja);
    margin-left: 3% !important;
}

.button:hover {
    color: #F96105;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
}

.button:active {
    color: var(--gris-claro);
    background-color: var(--naranja);

}


.divRegister{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--gris-claro);
    border-radius: 0 0 10px 10px;
    padding: 1%;
    margin: 0;
}

.registerWord{
    color: cornflowerblue;
    cursor: pointer;
    text-decoration: none;
}

p{
    margin: 2%;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.dividerBot {
    position: absolute;
    width: 95%;
    height: 1px;
    color: var(--gris-oscuro);
    background: linear-gradient(
            to right,
            var(--rojo) 0%,
            var(--naranja) 50%,
            var(--amarillo) 100%
    );
}

.textFooter {
    color: var(--gris-oscuro);
    align-self: flex-end;
    margin-right: 5%;
    margin-top: 2%;
}



