

.divButtons {
    width: 100%;
    height: 100%;
    /* padding-right: 15%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.button {
    width: 50% !important;
    height: 30%;
    background-color: var(--gris-claro);
    font-weight: bold;
    font-size: 24px;
    border-color: var(--naranja);
    color: var(--naranja);
    margin-left: 5% !important;
    margin-top: 5% !important;
}

.button:hover {
    color: #F96105;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
}

.button:active {
    color: var(--gris-claro);
    background-color: var(--naranja);

}

.divRegister{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--gris-claro);
    border-radius: 0 0 10px 10px;
    padding: 1%;
    margin: 0;
}

.registerWord{
    color: cornflowerblue;
    cursor: pointer;
    text-decoration: none;
}


.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.dividerBot {
    position: absolute;
    width: 95%;
    height: 1px;
    color: var(--gris-oscuro);
    background: linear-gradient(
            to right,
            var(--rojo) 0%,
            var(--naranja) 50%,
            var(--amarillo) 100%
    );
}

.textFooter {
    color: var(--gris-oscuro);
    align-self: flex-end;
    margin-right: 5%;
    margin-top: 2%;
}